body {
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: aqua;
     padding: 20px;
     margin:0;
}

header {
     background-color: aqua;
     color:azure;
     text-align: center;
     padding: 10px;
}

section {
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}